<h1>A PIRATE IS BARRRN</h1>
<%= @pirate[:name] %> weighs in at a hefty <%= @pirate[:weight] %> and a towering <%= @pirate[:height] %>.

<h2>Display your first ship here</h2>
<%= @pirate[:name] %>'s first ship, <%= @pirate[:ships]["0"][:name] %>, is a <%= @pirate[:ships]["0"][:type] %> containing <%= @pirate[:ships]["0"][:booty] %> aplenty. Arrrrrr.

<h2>Display your second ship here</h2>
The second ship, <%= @pirate[:ships]["1"][:name] %>, is a <%= @pirate[:ships]["1"][:type] %> heavy with <%= @pirate[:ships]["1"][:booty] %>. Ayeeeeeeeeee.
